.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

  --color-primary: #ff5cef;

  // display: grid;
  // grid-template-rows: auto 1fr auto;
  // align-items: stretch;
  // justify-items: stretch;
  // min-height: 100dvh;
  display: flex;
  flex-direction: column;
  // gap: 0.5rem;
  padding: 1rem;
  height: 100dvh;

  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    // --gray-rgb: 255, 255, 255;
    // --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    // --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    // --button-primary-hover: #ccc;
    // --button-secondary-hover: #1a1a1a;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 1rem 3.51rem;
  height: 90px;

  background-color: var(--white);
  z-index: 999;

  > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      line-height: 1.2rem;
    }

    &:first-child {
      padding: 0.1rem 0.25rem;
      border-radius: var(--global-border-radius);
      user-select: none;
      cursor: pointer;

      &:active {
        background-color: #fafafa;
      }

      small {
        font-size: 9px;
        font-weight: 700;
        color: var(--black-400);
      }
    }

    a.link {
      will-change: transform;
      transition: transform 0.2s ease;
      height: 48px;
      min-width: 110px;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--global-border-radius);
      font-size: 13px;
      font-weight: 600;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

      background-color: var(--black-050);
    }
  }
}

.hi {
  margin: 0 auto;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  justify-content: center;

  margin-top: 4.5rem;
  max-height: 70dvh;
  //border:1px solid red;
  // grid-row-start: 2;
  img.hero {
    margin: 0 auto;
  }

  output {
    margin: 0 auto;
   // border:1px solid blue;
    height: 100%;
    width: 100%;
    max-width: 600px;
    max-height: 75dvh;

    display: block;
    padding-right: 0.2rem;

    overflow-y: auto;

    display: flex;
    flex-direction: column;
  }
}

.message {
  &:not(&:first-child) {
    margin-top: 0.45rem;
  }

  display: flex;
  align-items: flex-start;
  column-gap: 0.6rem;

  img {
    border: 0px solid var(--white);
    border-radius: 999px;
    box-shadow: var(--shadow);
  }

  &[data-message-type='q'] {
    justify-content: flex-end;
  }

  &[data-message-type='a'] {
    justify-content: flex-start;
  }

  &__content {
    padding: 1rem 1.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow-x: auto;

    &[data-message-type='q'] {
      max-width: 100%;
      background-color: #44daff;
      border-top-left-radius: var(--global-border-radius);
      border-bottom-left-radius: var(--global-border-radius);
      border-bottom-right-radius: var(--global-border-radius);
    }

    &[data-message-type='a'] {
      max-width: calc(100% - 54px);
      background-color: #aaffbf;
      border-top-right-radius: var(--global-border-radius);
      border-bottom-left-radius: var(--global-border-radius);
      border-bottom-right-radius: var(--global-border-radius);
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 2rem 0.5rem;

  //grid-row-start: 3;

  form {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0 auto;
    gap: 0.25rem;
    max-width: 600px;
  }

  input {
    padding: 1rem;

    width: 100%;
    max-width: 550px;
    height: 48px;

    background: #ffffff;
    border: 1px solid #f1f2f4;
    box-shadow: var(--shadow);
    border-radius: 999px;
    transition: background 0.2s, color 0.2s, border-color 0.2s;

    &:active,
    &:focus {
      outline: none;
    }

    &:hover {
      background: #fafafa;
    }
  }

  button {
    width: 48px;
    height: 48px;
    max-height: 48px;
    border-radius: 128px;
    background-color: var(--white);
    transition: background 0.2s, color 0.2s, border-color 0.2s;
    border: none;
    border: 1px solid transparent;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);

    small {
      color: #9aa0a6;
      font-size: 10px;
    }

    &:hover {
      background-color: #fafafa;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 1.5rem;
    padding-bottom: 80px;
  }

  .header {
    padding: 0 0.51rem;
    height: 70px;
  }

  a.link {
    display: none !important;
  }

  .main {
    align-items: center;
  }

  .footer {
    padding: 0.5rem;
  }
}

@media (prefers-color-scheme: dark) {
}
